In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('PLACE.csv')
df.head()

    Latitude       Local Code   Longitude
0  37.293430    (지번) 창동 337-1  127.633460
1  37.682606   (지번) 도봉동 470-3  127.042541
2  37.653470  (지번) 쌍문동 100-35  127.027150
3  36.636327   (지번) 창동 700-27  128.193513
4  37.653470   (지번) 쌍문동 395-6  127.027150